.splash-container {
    background: #31708f;
}

.home-menu {
    padding-top: 0.2em;
    padding-bottom: 0;
}

.pure-menu-item {
    text-transform: uppercase;
}
.home-menu a{
    text-decoration: unset;
}

/** 登陆和注册 表单样式 **/
#login-button, #regist-button{
    background-color: white;
    color: #1f8dd6;
    font-weight: bold;
}
.form-item {
    display: flex;
}
.form-item label{
    width: 20%;
    color: beige;
}

/** 登陆和注册 表单错误信息反馈 **/
.error-info{
    margin-top: -5px;
    margin-bottom: -5px;
    display: flex;
    padding-left: 20%;
}
.error-info .error-text{
    list-style-type: none;
    padding-left: 5px;
    margin-top: 0px;
    color: darkred;
    font-size: small;
    font-weight: bold;
}
.error-info i{
    color: darkred;
}

/** 提交后的加载特效 **/
.submit_loading {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 5;
    background-color:#000;
    text-align:center;
    opacity:0.3;
}
.loading_show {
    margin-top:15%;
}
.loading_context {
    color:#fff;
}