{% extends 'template.html' %}

{% block import %}
<style>
    .content-inner {
        display: flex;
    }
    label.required:before {
        content: '* ';
        color: red;
    }
    .has-feedback label~.form-control-feedback {
        top: 32px;
    }
    .operate-button {
        margin-bottom: 4%;
    }
    .operate-button button{
        display: flex;
        float: right;
        margin-right: 5px;
    }
    .form-error {
        color: darkred;
        font-size: smaller;
    }
</style>
{% endblock %}

{% block content_head %} 创建项目 {% endblock %}
{% block content_inner %}
<form style="width: 60%">
    <div class="form-group">
        <label class="required" for="project-name">名称</label>
        <input type="text" class="form-control" id="project-name" placeholder="必填：项目名称" required>
    </div>
    <div class="form-group">
        <label class="required" for="project-route">路由</label>
        <input type="text" class="form-control" id="project-route" placeholder="必填：项目路由" required>
    </div>
    <div class="form-group">
        <label for="project-description">描述</label>
        <textarea class="form-control" rows="5" id="project-description" placeholder="项目描述"></textarea>
    </div>

    <div class="operate-button">
        <button type="button" class="btn btn-primary create" disabled="disabled">创建</button>
        <button type="button" class="btn btn-default cancel">取消</button>
    </div>
</form>
<!-- 转圈动画 -->
<div id="loading" class="submit_loading" style="display:none">
    <div class="loading_show">
        <img src="/static/image/loading.gif">
        <p class="loading_context">正在创建项目，请稍候。。。</p>
    </div>
</div>
<script>
    let nav_list = ['首页', '项目', '创建项目'];
    let href_list = ['/project/', '/project/'];
    $(function () {
        load_nav(nav_list, href_list);
    });
    /** 文本框.blur **/
    $("#project-name, #project-route").blur(function(){
        // 先清空所有的span元素
        clear_error_feedback(this, 'div.form-group');
        // 校验
        let value = $(this).val().trim();
        if(value == ""){
            let error_msg = "不可为空";
            set_error_feedback(this, 'div.form-group', error_msg);
        }
        button_disable_or_not();
    });
    $('.cancel').click(function () {
        window.location = '/project/';
    });
    $('.create').click(function () {
        let pName = document.getElementById('project-name').value;
        let pRoute = document.getElementById('project-route').value;
        let pDesc = document.getElementById('project-description').value;
        let upload_data = {'name': pName, 'url': pRoute, 'description': pDesc};
        $.ajax({
            type: "POST",
            data: upload_data,
            dataType: 'json',
            beforeSend:function () {
                $('#loading').show();
            },
            success:function(res){
                $('#loading').hide();
                console.log(res);
                if(res['code'] == 1000) {
                    // alert('创建成功');
                    window.location = '/project/view/'+res['msg'];
                }
                else {
                    // alert('创建失败');
                    if ([2004].indexOf(res['code']) != -1) {
                        let target_input = document.getElementById('project-name');
                        clear_error_feedback(target_input, 'div.form-group');
                        set_error_feedback(target_input, 'div.form-group', res['msg']);
                    }
                }
            }
        });
    });

    /** 确定按钮 disable or not **/
    function button_disable_or_not() {
        if ($('#project-name').val().trim() == '' || $('#project-route').val().trim() == '')
            $('.create').attr('disabled', true);
        else
            $('.create').attr('disabled', false);
    }
</script>
{% endblock %}