{% extends 'template.html' %}

{% block import %}
<style>
    .page-header {
        margin-top: 0;
    }

    td.field {
        width: 30%;
    }

    .btn {
        margin-right: 5px;
    }

    .progress {
        margin: 0;
    }

    .clipboard {
        cursor: pointer;
        text-decoration: unset;
    }
</style>
{% endblock %}

{% block content_head %} 查看模型 {% endblock %}
{% block content_inner %}
<div class="pure-g">
    <div id="basic_info" class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        <h3 class="page-header">基本信息</h3>
        <table class="table table-bordered table-hover" style="display: table;">
            <tbody>
            <tr>
                <td class="field"><strong>名称</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>类型</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>版本</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>文件</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>描述</strong></td>
                <td class="value"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="deploy_info" class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        <h3 class="page-header">部署信息</h3>
        <table class="table table-bordered table-hover" style="display: table;">
            <tbody>
            <tr>
                <td class="field"><strong>网络服务运行环境</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>预留CPU</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>预留内存</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>URL</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>状态</strong></td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="field"><strong>操作</strong></td>
                <td class="value"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    let model_data = {{model_info | safe}};
    let nav_list = ['首页', '项目', '查看项目', '查看模型'];
    let href_list = ['/project/', '/project/', '#'];
    $(function () {
        load_nav(nav_list, href_list);
        load_basic_info(model_data['basic']);
        load_deploy_info(model_data['deploy']);
    });

    function load_basic_info(data) {
        let value_list = $('#basic_info table td.value');
        value_list[0].innerText = data['name'];
        value_list[1].innerText = data['type'];
        value_list[2].innerText = data['version'];
        value_list[3].innerHTML = "<button class=\"download_file\">" +
            "<i class=\"fa fa-download\" aria-hidden=\"true\"></i>&nbsp;" + data['file'] +
            "</button>";
        if (data['description'] == '') {
            value_list[4].innerHTML = "<span style=\"color: grey\">暂无描述</span>";
        } else {
            value_list[4].innerHTML = "<span style=\"color: black\">" + data['description'] + "</span>";
        }
        $('.download_file').on('click', function () {
            //
        })
    }

    function load_deploy_info(data) {
        let state = '已部署,运行中';
        let value_list = $('#deploy_info table td.value');
        value_list[0].innerText = data['env'];
        value_list[1].innerText = data['cpu'];
        value_list[2].innerText = data['mem'];
        value_list[3].innerHTML = data['url'] +
            "<a class=\"clipboard\">&nbsp;" +
            "<i class=\"fa fa-clipboard\" aria-hidden=\"true\"></i>点击复制</a>";
        if (state == '未部署') {
            value_list[4].innerHTML = state;
            value_list[5].innerHTML = "<button id=\"start_up\" class=\"btn btn-primary\">启动实例</button>";
        } else if (state == '已部署,运行中') {
            value_list[4].innerHTML = state +
                "<div class=\"progress\">" +
                "<div class=\"progress-bar progress-bar-success progress-bar-striped active\" style=\"width: 100%\"></div>" +
                "</div>";
            value_list[5].innerHTML = "<button id=\"suspend\" class=\"btn btn-warning\">暂停实例</button>" +
                "<button id=\"delete\" class=\"btn btn-danger\">删除实例</button>";
        } else if (state == '已部署,暂停中') {
            value_list[4].innerHTML = state +
                "<div class=\"progress\">" +
                "<div class=\"progress-bar progress-bar-warning progress-bar-striped \" style=\"width: 100%\"></div>" +
                "</div>";
            value_list[5].innerHTML = "<button id=\"resume\" class=\"btn btn-success\">恢复实例</button>" +
                "<button id=\"delete\" class=\"btn btn-danger\">删除实例</button>";
        }
        $('.clipboard').on('click', function () {
            let input = document.createElement('input');
            input.setAttribute('value', data['url']);
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
        });
        $('#start_up').on('click', function () {
            //
        });
        $('#suspend').on('click', function () {
            //
        });
        $('#resume').on('click', function () {
            //
        });
        $('#delete').on('click', function () {
            //
        })
    }
</script>
{% endblock %}